* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reenie Beanie', cursive;
}
body {
    background: rgb(119,191,163);
    background: linear-gradient(90deg, rgba(119,191,163,1) 0%, rgba(152,201,163,1) 35%, rgba(191,216,189,1) 100%);
}
.login {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}
.caixa {
    box-shadow: 5px 3px 3px rgb(1, 23, 4);
}
button {
    padding: 2px;
    text-align: center;
}
